
form(class='navbar-form pull-left')
  textarea(ng-model='form.text', id='postbox', class='span4', type='text', placeholder='Whatcha workin on?', ui-jq='autosize')
  include previewPost
  p
    button(ng-click='submitPost()', class='btn btn-primary pull-right', type='submit') Post