div.span5
  div(ng-repeat='post in posts | orderBy:id:reverse', class='well')
    span.controls
      a(href='deletePost/{{post.id}}', class='close', title='delete') &times;
      a(href='editPost/{{post.id}}', class='pull-right', title='edit')
        i.icon-edit
    div {{post.text}}
    a(href='readPost/{{post.id}}') More

div(class='span4', ui-scrollfix='-10')
  include addPost