div.span5
  div(ng-repeat='post in posts | orderBy:id:reverse', class='msg-container')
    div.avatar
      | <img src='/img/default-avatar.png' class='default-avatar' />
    div.message-outer
      div.message.well
        span.controls
          a(href='deletePost/{{post.id}}', class='close', title='delete') &times;
          a(href='editPost/{{post.id}}', class='pull-right', title='edit')
            i.icon-edit
        div(class='message-text msg-{{post.id}}')
          span(class='msg-preview', ng-bind-html-unsafe="post.text|convert")
          a(href='javascript://', class='msg-expand', ng-click='msgExpand(post)') expand »
          span(class='msg-remains', ng-bind-html-unsafe="post.remains|convert")
          a(href='javascript://', class='msg-collapse', ng-click='msgCollapse(post)') « collapse

div(class='span4', ui-scrollfix='-10')
  include previewPost
  include addPost