/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


.icon-edit {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  margin-top: 2px;
  background-position: -96px -70px;
  height: 20px;
}
.icon-edit:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

span.controls a {
  padding-left: 5px;
}

.ui-scrollfix {
  position: fixed;
  left: 420px;
  top: 10px;
}

#postbox {
  vertical-align: top;
  transition: height 0.2s;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  height: 50px;
}

.msg-container {
  position: relative;
  padding-left: 60px;
  padding-right: 5px;
  zoom: 1;
}
.avatar {
  position: absolute;
  left: 0;
  top: 2px;
  text-align: center;
  zoom: 1;
  height: 48px;
  width: 48px;
  overflow: hidden;
}
.default-avatar {
  border-radius: 3px;
}
.message {
  margin-bottom: 0;
  word-wrap: break-word;
}
.message::before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border: 10px solid #eee;
  border-width: 10px 10px 10px 0;
  border-color: transparent #eee transparent transparent;
  position: absolute;
  left: 51px;
  top: 15px;
}
.message-outer {
  padding: 3px;
  background: #eee;
  border-radius: 3px;
  margin-bottom: 5px;
}
.msg-remains,
.msg-collapse {
  display: none;
}
.msg-expand,
.msg-collapse {
  font-size: 12px;
  padding: 5px;
}